<ul id="nav">
    <li class="default"><a href="/">Home</a> </li>
    <li class="default"><a href="#">Analytics</a>
        <ul>
            <li><a href="/features">Available Features</a></li>
            <li><a href="#">Data Request</a>
                <ul>
                    <li><a href="/housing_data">Housing</a></li>
                    <li><a href="/population_data">Population</a></li>
                </ul>
            </li>
            <li><a href="/correlations">Correlations</a></li>
        </ul>
    </li>
</ul>